<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <a href="/"><mat-icon>home</mat-icon></a>
     <a mat-button routerLink="/coursesearch">Search Courses</a>
     <a mat-button routerLink="/searchwithkeywords">Search with keywords</a>
     <a mat-button routerLink="/courselist">CoursesList</a>
     <a mat-button *ngIf="isUserLoggedIn" routerLink="/createcourselist">Create CoursesList</a>
     <a mat-button *ngIf="isUserLoggedIn" routerLink="/coursesreview">Course Review</a>
     <a mat-button *ngIf="isAdmin" routerLink="/admin">Admin Page</a>
     <span class="spacer"></span>
     <a mat-button routerLink="/signup">Register</a>
     <a mat-button *ngIf="isUserLoggedOut" routerLink="/login">Login</a>
     <button mat-button *ngIf="isUserLoggedIn" (click)="logout()">Logout</button>
     <a *ngIf="isAdmin"><mat-icon>supervisor_account</mat-icon>SM</a>
  </mat-toolbar-row>
</mat-toolbar>
<h2>TimeTable App</h2>
<h5>This app lets users to view courses and their descriptions, create/update/delete course lists, add reviews to each course</h5>
<router-outlet></router-outlet>