<mat-toolbar>
    <span>Search Courses</span>
 </mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
         
        <form class="my-form" [formGroup]="form">
            <mat-form-field class="full-width">
                <mat-label>Subject Code</mat-label>
                <input  matInput  placeholder="Subject Code"  name="subject"  formControlName="subject" oninput="this.value = this.value.toUpperCase()" required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Course Code</mat-label>
                <input  matInput  placeholder="Course Code" name="course" formControlName="course" required>
             </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="search()" color="primary">Search</button>
    </mat-card-actions>
 </mat-card>

  <mat-accordion multi=true *ngIf="data.length > 0">
    <mat-expansion-panel *ngFor="let element of data">
        <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-label><i>Subject Code</i></mat-label>: {{element.subject}} &nbsp;&nbsp;&nbsp;
              <mat-label><i>Course Code</i></mat-label>: {{element.catalog_nbr}} &nbsp;&nbsp;&nbsp;
              <mat-label><i>Class Name</i></mat-label>: {{element.className}} &nbsp;&nbsp;&nbsp;
              <mat-label><i>Class Section</i></mat-label>: {{element.course_info[0].class_section}} &nbsp;&nbsp;&nbsp;
              <mat-label><i>Component</i></mat-label>: {{element.course_info[0].ssr_component}} &nbsp;&nbsp;&nbsp;
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <table>
            <tr><th>Class Number</th></tr>
            <tr><td>{{element.course_info[0].class_nbr}}</td></tr>
          </table>
        </p>
    </mat-expansion-panel>
</mat-accordion>