<mat-toolbar>
    <span>Search Courses</span>
 </mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
         
        <form class="my-form" [formGroup]="form">
            <mat-form-field class="full-width">
                <mat-label>Subject Code</mat-label>
                <input  matInput  id="subject" placeholder="Subject Code"  name="subject"  formControlName="subject" oninput="this.value = this.value.toUpperCase()" required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Course Code</mat-label>
                <input  matInput  placeholder="Course Code" name="course" formControlName="course" required>
             </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="search()" color="primary">Search</button>
    </mat-card-actions>
 </mat-card>

 <div *ngIf="data.length > 0">
  <table mat-table
        [dataSource]="data" multiTemplateDataRows
        class="mat-elevation-z8">
        <ng-container matColumnDef="subject">
         <th mat-header-cell *matHeaderCellDef> Subject </th>
         <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
       </ng-container>
 
       <ng-container matColumnDef="catalog_nbr">
         <th mat-header-cell *matHeaderCellDef> Course Code </th>
         <td mat-cell *matCellDef="let element"> {{element.catalog_nbr}} </td>
       </ng-container>
 
       <ng-container matColumnDef="className">
         <th mat-header-cell *matHeaderCellDef> Class Name </th>
         <td mat-cell *matCellDef="let element"> {{element.className}} </td>
       </ng-container>
 
       <ng-container matColumnDef="class_section">
         <th mat-header-cell *matHeaderCellDef> Class Section </th>
         <td mat-cell *matCellDef="let element"> {{element.course_info[0].class_section}} </td>
       </ng-container>
 
       <ng-container matColumnDef="ssr_component">
         <th mat-header-cell *matHeaderCellDef> Component </th>
         <td mat-cell *matCellDef="let element"> {{element.course_info[0].ssr_component}} </td>
       </ng-container>
 
 
   <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
   <ng-container matColumnDef="expandedDetail">
     <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
       <div class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
         <div>
           <table class ="timetable">
             <tr><th class ="timetable">Class Number</th>
               <th class ="timetable">Start Time</th>
               <th class ="timetable">End Time</th>
               <th class ="timetable">Campus</th>
               <th class ="timetable">Facility ID</th>
               <th class ="timetable">Enrollment Status</th>
               <th class ="timetable">Days</th>
               <th class ="timetable">Description</th>
             </tr>
             <tr><td class ="timetable">{{element.course_info[0].class_nbr}}</td>
             <td class ="timetable">{{element.course_info[0].start_time}}</td>
             <td class ="timetable">{{element.course_info[0].end_time}}</td>
             <td class ="timetable">{{element.course_info[0].campus}}</td>
             <td class ="timetable">{{element.course_info[0].facility_ID}}</td>
             <td class ="timetable">{{element.course_info[0].enrl_stat}}</td>
             <td class ="timetable">{{element.course_info[0].days}}</td>
             <td class ="timetable">{{element.course_info[0].descr}}</td>
             </tr>
           </table>
         </div>
         <br>
         <div>
           <b>Course Description :</b> {{element.catalog_description}}
         </div>
         <br>
         <h3>Reviews</h3>
         <div *ngIf='element.review.length === 0'> No Reviews found for this courses</div>
         <div *ngIf="element.review.length > 0">
          <table class = "reviews">
            <tr><th class = "reviews">Review Creater</th>
              <th class = "reviews">Review Create Time</th>
              <th class = "reviews">Comments</th>
            </tr>
            <tr *ngFor='let review of element.review'>
              <td class = "reviews">{{review.username}}</td>
              <td class = "reviews">{{review.updatedate}}</td>
              <td class = "reviews">{{review.comments}}</td>
              </tr>
          </table>
         </div>
       </div>
     </td>
   </ng-container>
 
   <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
   <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
       class="example-element-row"
       [class.example-expanded-row]="expandedElement === element"
       (click)="expandedElement = expandedElement === element ? null : element">
   </tr>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
 </table>
 </div>