<mat-toolbar>
    <span>Search Courses with keywords</span>
 </mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
         
        <form class="my-form" [formGroup]="form">
            <mat-form-field class="full-width">
                <mat-label>Subject Code or Course Code</mat-label>
                <input  matInput  placeholder="Subject Code"  name="keyword"  formControlName="keyword" required>
             </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="search()" color="primary">Search</button>
    </mat-card-actions>
 </mat-card>