<mat-toolbar>
    <span>Course Lists</span>
 </mat-toolbar>
<mat-accordion multi=true *ngIf="data.length > 0">
    <mat-expansion-panel *ngFor="let element of data.slice(0,10)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-label><b><i>Name</i></b></mat-label>: {{element.name}} &nbsp;&nbsp;&nbsp;
              <mat-label><b><i>Creater</i></b></mat-label>: {{element.userName}} &nbsp;&nbsp;&nbsp;
              <mat-label><b><i>Number of Courses</i></b></mat-label>: {{element.numberofcourses}} &nbsp;&nbsp;&nbsp;
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let item of element.schedules">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-label><b><i>Subject Code</i></b></mat-label>: {{item.subject}} &nbsp;&nbsp;&nbsp;
                  <mat-label><b><i>Course Code</i></b></mat-label>: {{item.course}} &nbsp;&nbsp;&nbsp;
                  <button mat-raised-button (click)="search(item)" color="primary">Timetable</button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table *ngIf="timetable.length > 0">
                <tr><th>Class Number</th>
                    <th>Class Section</th>
                    <th>Component</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Campus</th>
                  <th>Facility ID</th>
                  <th>Enrollment Status</th>
                  <th>Days</th>
                  <th>Description</th>
                </tr>
                <tr  *ngFor="let tt of timetable">
                <td>{{tt.course_info[0].class_nbr}}</td>
                <td>{{tt.course_info[0].class_section}}</td>
                <td>{{tt.course_info[0].ssr_component}}</td>
                <td>{{tt.course_info[0].start_time}}</td>
                <td>{{tt.course_info[0].end_time}}</td>
                <td>{{tt.course_info[0].campus}}</td>
                <td>{{tt.course_info[0].facility_ID}}</td>
                <td>{{tt.course_info[0].enrl_stat}}</td>
                <td>{{tt.course_info[0].days}}</td>
                <td>{{tt.course_info[0].descr}}</td>
                </tr>
              </table>
        </mat-expansion-panel>
        <p>{{element.description}}</p>
    </mat-expansion-panel>
</mat-accordion>